*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f5f5f7;
    font-family:SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.clearfix {
    zoom: 1;
  }
  
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

/*Header*/

.upperHeader{
    background-color: #f5f5f7;
    text-align: center;
    padding: 10px;
    
}

.upperHeader a{
    text-decoration: none;
    color: black;
}

#Apple{
    width: 50px;
}

header ul{
    padding: 0;
    list-style: none;
    text-align: center;
}

.list li{
    vertical-align: middle;
    margin: 0 10px;
    display: inline-block;
}

.appear{
    text-align: center;
    padding: 15px;
    background-color: white;
}

.appear a{
    color: blue;
    text-decoration: none;
}

/*Footer*/

.titleFooter{
    margin-left: 100px;
}

footer h1{
    margin-top: 50px;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.listFooter ul{
    padding: 0;
    list-style: none;
    margin-bottom: 30px;
}

.listFooter li{
    display: inline-block;
    background-color: #e2e2e4;
    padding: 7px 15px;
    margin: 0 5px;
    border-radius: 50px;
}

.listFooter a{
    color: black;
    text-decoration: none;
}

.insideFooter{
    font-size: 12px;
    margin: 30px auto;
    width: 1145px;
    position: relative;
}

.paragraphFooter{
    color: #7f828b;
}

.paragraphFooter a{
    color: #515878;
}

.paragraphFooter::after{
    content: "";
    display: block;
    border: 0.5px solid rgba(127, 130, 139, 0.5);
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.beforeFooter::after{
    content: "";
    display: block;
    border: 0.5px solid rgba(127, 130, 139, 0.5);
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.title a,
.title p {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    margin-bottom: 10px;
}

.title p{
    margin-left: 20px;
}

.lot-Of-List a{
    text-decoration: none;
    color: #515154;
}

.lot-Of-List li{
    list-style: none;
    margin: 10px 0;
}

.lot-Of-List{
    height: 450px;

}

.lot-Of-List ul{
    float: left;
    width: 20%;
}

.beforeFooter{
    color: #6f8297;
}

.beforeFooter a{
    color: #1e8bf0;
}

.afterFooter p:first-child{
    color: #6f8297;
    float: left;
    margin-right: 40px;
}

#middleFooterP{
    float: left;
}

.afterFooter p:last-child{
    float: right;
}

.afterFooter{
    margin-bottom: 50px;
}

/*Main*/

main{
    margin: 65px 60px;
}

ul{
    list-style: none;
}

.headerOfMain{
    margin-bottom: 90px;
}

.headerOfMain h2{
    color: #6e6e73;
    font-size: 50px;
    width: 800px;
    float: left;
}

.headerOfMain b{
    color: black;
}

.shoppingHelp {
    display: flex;
    align-items: center;
    max-width: 600px;
    margin: 0 auto; 
    margin-bottom: 15px;
}

.shoppingHelp img {
    max-width: 40px;
    height: auto;
}

.content {
    margin-left: 20px; 
}

h3 {
    margin: 0;
}

.headerOfMain a {
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
    display: block;
}

.visitApple {
    display: flex;
    align-items: center;
    max-width: 600px;
    margin: 0 auto; 
}

.visitApple img {
    max-width: 40px;
    height: auto;
    border-radius: 50px;
}

.topHeaderOfMain{
    vertical-align: middle;
    margin-bottom: 80px;
}

.leftofheaderOfMain{
    margin-top: 20px;
    float: right;
}

.list_product {
    position: relative;
}
/* cách để tạo chuyển động ngang*/
.horizontal-list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    overflow: hidden;
    scroll-behavior: smooth; /* giúp cho chuyển qua lại smooth hơn*/
}

.horizontal-list li {
    margin-right: 20px;
    text-align: center;
}

.left-button,
.right-button {
    background: #fff;
    color: rgba(0, 0, 0, 0.5);
    border: none;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    border-radius: 50px;
}

.left-button {
    left: 0;
}

.right-button {
    right: 0;
}

.horizontal-list:hover .left-button,
.horizontal-list:hover .right-button {
    display: block;
}

.horizontal-list a {
    color: black;
}

.headerOfMain .horizontal-list img {
    width: 150px;
}

.theLatest b{
    color: black;
}

.theLatest h4{
    color: #6e6e73;
    font-size: 30px;
    margin-bottom: 25px;
}

.container {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}
  
.item {
    display: inline-block;
    margin: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    line-height: 150px;
    font-size: 18px;
  }

.image-container img{
    transition: transform 0.3s ease-in-out;
    white-space: normal;
}

.image-text {
    position: absolute;
    top: 0;
    text-align: left;
    color: #000000;
    padding: 30px;
    font-size: 18px;
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.image-text p:first-child{
    margin-bottom: 10px;
    color: #818273;
}

.image-container:hover {
    transform: scale(1.01);
    height: 100%;
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.2);
}

