<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet-mapping>
        <servlet-name>RoleServlet</servlet-name>
        <url-pattern>/admin/RoleServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>
            client/index.jsp
        </welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>Controller.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoleServlet</servlet-name>
        <servlet-class>Controller.RoleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/admin/UserServlet</url-pattern>
    </servlet-mapping>
    <dependency>
        <groupId>jakarta.servlet.jsp.jstl</groupId>
        <artifactId>jakarta.servlet.jsp.jstl-api</artifactId>
        <version>3.0.0</version>
    </dependency>
    <dependency>
        <groupId>org.glassfish.web</groupId>
        <artifactId>jakarta.servlet.jsp.jstl</artifactId>
        <version>3.0.1</version>
    </dependency>
</web-app>
