<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>RedictFilter</filter-name>
        <filter-class>Filter.RedictFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RedictFilter</filter-name>
        <url-pattern>/client/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>Controller.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrdersServlet</servlet-name>
        <servlet-class>Controller.OrdersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailServlet</servlet-name>
        <servlet-class>Controller.OrderDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BagsServlet</servlet-name>
        <servlet-class>Controller.BagsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewsServlet</servlet-name>
        <servlet-class>Controller.NewsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryServlet</servlet-name>
        <servlet-class>Controller.CategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>Controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignInServlet</servlet-name>
        <servlet-class>Controller.SignInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>Controller.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowProductServlet</servlet-name>
        <servlet-class>Controller.ShowProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RoleServlet</servlet-name>
        <url-pattern>/admin/RoleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/admin/ProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrdersServlet</servlet-name>
        <url-pattern>/admin/OrdersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailServlet</servlet-name>
        <url-pattern>/admin/OrderDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BagsServlet</servlet-name>
        <url-pattern>/admin/BagsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsServlet</servlet-name>
        <url-pattern>/admin/NewsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryServlet</servlet-name>
        <url-pattern>/admin/CategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/client/HomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignInServlet</servlet-name>
        <url-pattern>/client/SignInServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/client/CartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowProductServlet</servlet-name>
        <url-pattern>/client/ShowProductServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>
            client/index.jsp
        </welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>Controller.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoleServlet</servlet-name>
        <servlet-class>Controller.RoleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/admin/UserServlet</url-pattern>
    </servlet-mapping>
    <dependency>
        <groupId>jakarta.servlet.jsp.jstl</groupId>
        <artifactId>jakarta.servlet.jsp.jstl-api</artifactId>
        <version>3.0.0</version>
    </dependency>
    <dependency>
        <groupId>org.glassfish.web</groupId>
        <artifactId>jakarta.servlet.jsp.jstl</artifactId>
        <version>3.0.1</version>
    </dependency>
</web-app>
